body {
  font-size: 16px;
}

#hero-component {
  margin-top: 4em;
  margin-bottom: 8em;
}

#hero-component .grid {
  line-height: normal;
}

#title-component {
  font-size: 4em;
  font-weight: 600;
}

#punchline-component {
  font-size: 2em;
  line-height: initial;
}

#social-ribbon-component {
  margin-bottom: 8em;
}

#social-icon-component a {
  border: none;
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
}

#social-icon-component a:hover {
  transition: background-color .5s ease-in;
  -moz-transition: background-color .5s ease-in;
  -webkit-transition: background-color .5s ease-in;
  -o-transition: background-color .5s ease-in;
}

#social-icon-component img {
  max-width: 68px;
  max-height: 68px;
}

#rss-feed-component {
  margin-bottom: 8em;
}

#rss-feed-component .card {
  margin-bottom: 1em;
}

#rss-feed-component .card img {
  max-width: 100%;
}
